---
{#- add missing topology Segments #}
{%-  for replica, missing_agreements in missing.items() %}

- name: Add Missing Topology Segments for {{ replica }}
  hosts: {{ replica }}.ipadomain.test
  become: true

  roles:
  - role: ipareplica
    state: present

  vars:
    ipatopology_segments:
{%-    for missing in missing_agreements %}
    - {suffix: domain, left: {{replica}}.ipadomain.test, right: {{ missing }}.ipadomain.test}
{%     endfor %}

{%-  raw %}

  tasks:
  - name: Add topology segment
    ipatopologysegment:
      ipaadmin_password: "{{ ipaadmin_password }}"
      suffix: "{{ item.suffix }}"
      name: "{{ item.name | default(omit) }}"
      left: "{{ item.left }}"
      right: "{{ item.right }}"
      state: present
    loop: "{{ ipatopology_segments | default([]) }}"
{%-  endraw %}

{%-  endfor %}

{#- remove redundant topology Segments #}

{%-  for replica, redundant_agreements in redundant.items() %}

- name: Remove Topology Segments for {{ replica }}
  hosts: {{ replica }}.ipadomain.test
  become: true

  roles:
  - role: ipareplica
    state: present

  vars:
    ipatopology_segments:
{%-    for redundant in redundant_agreements %}
    - {suffix: domain, left: {{replica}}.ipadomain.test, right: {{ redundant }}.ipadomain.test}
    - {suffix: domain, right: {{replica}}.ipadomain.test, left: {{ redundant }}.ipadomain.test}
{%     endfor %}

{%-  raw %}

  tasks:
  - name: Remove topology segment
    ipatopologysegment:
      ipaadmin_password: "{{ ipaadmin_password }}"
      suffix: "{{ item.suffix }}"
      name: "{{ item.name | default(omit) }}"
      left: "{{ item.left }}"
      right: "{{ item.right }}"
      state: absent
    loop: "{{ ipatopology_segments | default([]) }}"
{%-  endraw %}

{%-  endfor %}

