---
- name: Install IPA servers
  hosts: ipaserver
  become: true

  roles:
  - role: ipaserver
    state: present

{#- replicas #}
{%-  for level, replicas in levels.items() %}
{%-    if level %}
- name: Install IPA replicas y{{ level }}
  hosts: ipareplicas_y{{ level }}
  serial: 3
  become: true

  roles:
  - role: ipareplica
    state: present
{%-    endif %}
{%   endfor %}


{#- topology Segments #}
{%-  for replica, missing_agreements in missing.items() %}

- name: Add Missing Topology Segments for {{ replica }}
  hosts: {{ replica }}.ipadomain.test
  become: true

  roles:
  - role: ipareplica
    state: present

  vars:
    ipatopology_segments:
{%-    for missing in missing_agreements %}
    - {suffix: domain, left: {{replica}}.ipadomain.test, right: {{ missing }}.ipadomain.test}
{%     endfor %}

{%-  raw %}

  tasks:
  - name: Add topology segment
    ipatopologysegment:
      ipaadmin_password: "{{ ipaadmin_password }}"
      suffix: "{{ item.suffix }}"
      name: "{{ item.name | default(omit) }}"
      left: "{{ item.left }}"
      right: "{{ item.right }}"
      state: present
    loop: "{{ ipatopology_segments | default([]) }}"
{%-  endraw %}

{%-  endfor %}

