domains:
  - name: ipadomain.test
    type: ansible_runner
    hosts:
      - name: controller.ipadomain.test
        role: ansible_runner
        group: ipaserver
        os: {{ node_os }}
phases:
  - name: init
    steps:
      - playbook: init/testrunner-dir.yaml
      - command: |
          git clone --depth 1 {{ tool_repo }} --branch={{ tool_branch }}
        cwd: ../
      - playbook: ../idm-performance-testing/large-scale/playbooks/perf-config.yaml
  - name: provision
    steps:
      - playbook: provision/linchpin-up.yaml
      - playbook: provision/wait.yaml
      - playbook: provision/chrony.yaml
  - name: prep
    steps:
      - playbook: prep/redhat-base.yaml
      - playbook: ../idm-performance-testing/large-scale/playbooks/add-repo.yaml
      - playbook: ../idm-performance-testing/large-scale/playbooks/scale-prepare-runner.yaml
      - command: wget -np -nH --cut-dirs 4 -r {{ metadata_storage }}/{{ project }}/{{ run }}/{{ job }}/
      - command: tail -n +3 *.inv | awk '{if($1!="==>") print $0}' >> ./config/test.inventory.yaml
      - command: "sed -i '/hosts: / d' ./config/test.inventory.yaml"
      - command: cat ./config/test.inventory.yaml
      - playbook: ../idm-performance-testing/large-scale/playbooks/hosts.yaml
      - playbook: ../idm-performance-testing/large-scale/playbooks/hosts.yaml
        host: y0.ipadomain.test
  - name: test
    steps:
      - command: wget -np -nH --cut-dirs 4 -r {{ metadata_storage }}/{{ project }}/{{ run }}/{{ job }}/
        host: controller.ipadomain.test
      - command: sed -i ':a;$!{N;ba};s/\nnameserver[^\n]*//' /etc/resolv.conf
        host: y0.ipadomain.test
      - playbook: ../idm-performance-testing/large-scale/playbooks/logger.yaml
        extra_vars:
          marker: "DEPLOYMENT"
          phase: "STARTED"
      - command: ansible-playbook
          --ssh-extra-args="-o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null"
          -vv -f 12 -i perf-inventory perf-install.yml
        host: controller.ipadomain.test
      - playbook: ../idm-performance-testing/large-scale/playbooks/logger.yaml
        extra_vars:
          marker: "DEPLOYMENT"
          phase: "FINISHED"
      - playbook: ../idm-performance-testing/large-scale/playbooks/journalctl-collect.yaml
        extra_vars:
          marker: "DEPLOYMENT"
      - playbook: ../idm-performance-testing/large-scale/playbooks/copy-tests.yaml
  - name: teardown
    steps:
      - command: echo dummy

